<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=9B9p9PX34b">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=9B9p9PX34b">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=9B9p9PX34b">
<link rel="manifest" href="/site.webmanifest?v=9B9p9PX34b">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=9B9p9PX34b" color="#ee3d8f">
<link rel="shortcut icon" href="/favicon.ico?v=9B9p9PX34b">
<meta name="msapplication-TileColor" content="#ee3d8f">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
