[submodule "submodules/TrackerTrainer"]
	path = submodules/TrackerTrainer
	url = https://github.com/bexedmondson/TrackerTrainer
[submodule "submodules/urdumb"]
	path = magnet-board
	url = https://github.com/elliot-forty-two/urdumb
