---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$lrd-color-a: #ee3d8f;
$lrd-color-b: #f173ac;
$lrd-color-black: #130c0e;
$lrd-color-old: #fa7db6;

/* Grid */
// $right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 220px !default;
// $right-sidebar-width-wide: 400px !default;

:root {
  color-scheme: light dark;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
