---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// $primary-color: #fa7db6;
$primary-color: #fa7db6;
$info-color: #fa7db6;
$link-color: #fa7db6;

/* Grid */
// $right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 220px !default;
// $right-sidebar-width-wide: 400px !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
