---
---

@media screen and (prefers-color-scheme: dark) {
  :root {
    @import "minimal-mistakes/themes";
    @import "minimal-mistakes/skins/dark";
    @import "minimal-mistakes/colors";
    @include color-vars("dark");
  }

  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }
}
