
@mixin color-vars($skin-name) {
  --gray: #{$gray};
  --dark-gray: #{$dark-gray};
  --darker-gray: #{$darker-gray};
  --light-gray: #{$light-gray};
  --lighter-gray: #{$lighter-gray};

  --background-color: #{$background-color};
  --code-background-color: #{$code-background-color};
  --code-background-color-dark: #{$code-background-color-dark};
  --text-color: #{$text-color};
  --muted-text-color: #{$muted-text-color};
  --border-color: #{$border-color};
  --form-background-color: #{$form-background-color};
  --footer-background-color: #{$footer-background-color};

  --primary-color: #{$primary-color};
  --success-color: #{$success-color};
  --warning-color: #{$warning-color};
  --danger-color: #{$danger-color};
  --info-color: #{$info-color};
  --focus-color: #{$focus-color};
  --active-color: #{$active-color};

  /* links */
  --link-color: #{$link-color};
  --link-color-hover: #{$link-color-hover};
  --link-color-visited: #{$link-color-visited};
  --masthead-link-color: #{$masthead-link-color};
  --masthead-link-color-hover: #{$masthead-link-color-hover};
  --navicon-link-color-hover: #{$navicon-link-color-hover};
}
